name: Deploy Project
on:
  push:
    branches:
      - main
env:
  SOME_WORKFLOW_ENV: jakis env
jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: print workflow env
        run: | 
          echo $SOME_WORKFLOW_ENV
          echo ${{ env.SOME_WORKFLOW_ENV }}
      - name: print repo variable
        run: | 
          echo ${{ vars.REPO_VAR }}
      - name: print repo secret
        run: |
          echo ${{ secrets.REPO_SECRET_NOT_EXISTING }}
          echo ${{ secrets.REPO_SECRET }}
      - name: Get code
        uses: actions/checkout@v4
      - name: install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm test
  deploy:
    needs: test
    runs-on: ubuntu-22.04
    steps:
     - name: Get code
       uses: actions/checkout@v4
     - name: install NodeJS
       uses: actions/setup-node@v3
       with:
         node-version: 18
     - name: Install dependencies
       run: npm ci
     - name: Build project
       run: npm run build
     - name: Deploy
       run: echo "Deploying ..."


